In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv("test.csv")

In [3]:
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
...,...,...,...,...,...,...,...,...,...,...
218,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S
219,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
220,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
221,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.4500,NaN,S
222,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S

In [4]:
df.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          45
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       173
Embarked      1
dtype: int64

In [5]:
df.drop(columns=['Sex','Name','Ticket','Cabin'], inplace=True)

In [6]:
df.isnull().sum()

Pclass       0
Age         45
SibSp        0
Parch        0
Fare         0
Embarked     1
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [9]:
Y=df["Embarked"]
Y

0      S
1      S
3      S
4      S
5      C
      ..
218    S
219    S
220    C
221    S
222    S
Name: Embarked, Length: 177, dtype: object

In [10]:
df.drop(columns=['Embarked'], inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [11]:
X=pd.DataFrame(df)
X

     Pclass   Age  SibSp  Parch      Fare
0         2   8.0      1      1   36.7500
1         1  49.0      0      0   25.9292
3         2  24.0      2      1   27.0000
4         1  36.0      0      0   26.2875
5         1  71.0      0      0   49.5042
..      ...   ...    ...    ...       ...
218       3  20.0      1      0    7.9250
219       1  45.0      0      0   26.5500
220       1  17.0      1      0  108.9000
221       3  43.0      0      0    6.4500
222       2  36.5      0      2   26.0000

[177 rows x 5 columns]

In [12]:
X.shape

(177, 5)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
clf=LogisticRegression()

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.5,train_size=0.5,random_state=1)

In [16]:
clf.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
y_pred=clf.predict(X_test)

In [18]:
y_pred.shape

(89,)

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(Y_test,y_pred)

array([[ 1,  0, 10],
       [ 0,  0,  7],
       [ 1,  0, 70]], dtype=int64)

In [21]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           C       0.50      0.09      0.15        11
           Q       0.00      0.00      0.00         7
           S       0.80      0.99      0.89        71

    accuracy                           0.80        89
   macro avg       0.43      0.36      0.35        89
weighted avg       0.70      0.80      0.73        89

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))